.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-self: start;
}

@media (max-width: 1024px) {
  .gallery {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .gallery {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}